.wrapper_width_padding
#booking_new
  %h1 All the houses in your doc you can assign
  - @docs.each do |doc|
    %a{ href: (url_for [doc])}
      .doc
        %p.id= "ID: #{doc.id}"
        %p.title= doc.title

  %hr
  %h1 All the guests in your doc you can assign
  - @guests.each do |guest|
    %a{ href: (url_for [guest])}
      .guest
        %p.id= "ID: #{guest.id}"
        %p.title= guest.name


%h1 Edit Booking

= render 'form'
= link_to 'Cancel', booking_path, :id => "cancel"