%h1= @booking.doc.title
%h1= @booking.guest.name
%p= @booking.checkin
%p= @booking.checkout


= link_to "All Bookings", bookings_path
= link_to "Edit Booking", edit_booking_path(@booking)
= link_to "Delete it", booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }