.wrapper_width_padding
#doc_show
  %h1.title= @doc.title
  %p= @doc.content

.buttons
  = link_to "All Houses", docs_path
  = link_to "Edit House", edit_doc_path(@doc)
  = link_to "Delete It", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" }